#faq {
  .accordion-button {
    span {
      aspect-ratio: 1/1 !important;
      height: 1rem;
      border-radius: 2px;

      @media (min-width: 992px) {
        height: 1.5rem;
      }
    }
    &:focus {
      box-shadow: 0 0.5px 0 rgb(223, 223, 223);
    }
    &:not(.collapsed) span {
      background: #c0304f;
      color: #fff;
    }
  }
}
